<html>

<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css" />
    <style>
        select {
        height: 30px;
      }
    </style>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>

<body>
    <div id="processingdiv" style="display: none;">Processing</div>
    <div id="formdiv" class="d-none">
        <!--<form id="trelloform">-->
        <div id="controlForm" style="display:none">
            <label for="controlURL">Control:</label>
            <input type="text" id="controlURL" name="controlURL" />
            <div id="controlError" style="color: red;"></div>
            <button id="addControl" type="" class="mod-primary">GO</button>
        </div>
        <div id="variantForm" style="display:none">
            <label for="device">Select a Device:</label>
            <select name="device" id="device">
                <option value="1">Desktop</option>
                <!--<option value="2">Iphone</option>-->
            </select>
            <div id="controlURLDiv">
              <div>Control</div>
              <div id="controlURLSet"></div>
              <div><a href="javascript:setForm(1);" id="changeControlURL">Change</a></div>
            </div>
            <label for="variantURL">Variant:</label>
            <input type="text" id="variantURL" name="variantURL" />
            <div id="variantError" style="color: red;"></div>
            <button type="" id="snapControl" class="mod-primary">Snap Control</button>
            <button type="" id="snapVariant" class="mod-primary">Snap Variant</button>

        </div>
        <!-- </form>-->
    </div>
    <script src="/assets/js/form.js"></script>
</body>

</html>