---
layout: external-layout
---
{% set theJs %}
{% include 'share.js' %}
{% endset %}
<script src="https://cdn.jsdelivr.net/npm/resemblejs@5.0.0/resemble.min.js"></script>
<br>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" id="data-header"></h1>
</div>
<p class="mb-4"></p>
<div class="row">
        <div class="col-sm-2" id="imageOptions">
            <div id="comparsionDiv" class="">
                <a href="javascript:compareImages(1)" id="showDiff" />Show Differences</a><a href="javascript:compareImages(0)" class="d-none" id="hideDiff" />Hide Differences</a>
            </div>
        </div>
</div>
<div id="imagesWrapper" class="">
    
    <div class="row">

        <div class="col-sm-4" id="baselineImageDiv">
            <h1 id="leftImage"></h1>
            <div id="controlImageScroller" class="dotted-line">
            </div>
        </div>
        <div class="col-sm-4  other" id="snapshotImageDiv">
            <h1 id="rightImage"></h1>
            <div id="variantImageScroller" class="dotted-line ">
            </div>
        </div>
         <div class="col-md-4">
      <!-- Third Column Content: Comments and Comment Box -->
      <div class="comments-section d-none">
        <h3>COMMENTS</h3>
        <div id="commentsDiv">

        </div>
        <div class="comment-box">
          <h4 id="commentHeader">Add a comment</h4>
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Your comment" id="theComment"></textarea>
            </div>
            <input type="text" a class="form-control"  id="commentPassword" name="commentPassword" placeholder="Password"><br>
            <a id="addCommentButton" type="submit" class="btn btn-primary">Submit</a>
          </form>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
{{ theJs | safe }}
</script>

